@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

/* CSS Variables */
body {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
:root {
  --irishcolor: #4d5ae5;
  --navyblue: #2e2f42;
  --navcolor: black;
  --oceancolor: #2196f3;
  --whitecolor: white;
  --slatecolor: #434455;
  --oceanblue: #404bbf;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
}

.link-webstudio-logo {
  text-decoration: none;
  font-family: "Raleway", san-serif;
}

.weblogo {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway";
  line-height: 21px;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.54px;
}
.studiologo {
  color: var(--navyblue);
  font-family: "Raleway";
  line-height: 21px;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.54px;
}

.studiologo2 {
  color: var(--cloud, #f4f4fd);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.3px;
}

.navbar .pages {
  color: var(--navcolor);
  text-decoration: none;
  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.lists {
  list-style-type: none;
}

.navbar .pages:hover,
.navbar .pages:focus,
.navbar .pages.currentoption,
.contact-info .info:hover,
.contact-info .info:focus {
  color: var(--irishcolor);
}

.contact-info .info {
  color: var(--slatecolor);
  text-decoration: none;
}

.bg-section1 {
  background-color: var(--navyblue);
}

.h1-title {
  color: var(--whitecolor);
  font-family: "roboto";
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 1.12px;
}

.btn {
  cursor: pointer;
  border-color: transparent;
  font-family: inherit;
}

.btn.primary {
  background-color: var(--irishcolor);
  color: var(--whitecolor);
  font-family: "roboto";
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
}

.btn.primary:hover,
.btn.primary:focus {
  background-color: var(--oceanblue);
}

.titlelist {
  color: var(--navyblue);
  font-family: "roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.desclist {
  color: var(--slatecolor);
}

.sectiontitle {
  color: var(--navyblue);
  font-family: "roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.2px;
}

.section4 {
  background-color: var(--cloud);
}

.teamname {
  color: var(--navyblue);
  font-family: "roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.position {
  color: var(--slatecolor);
}

.footerbg {
  background-color: var(--navyblue);
}

.lastword {
  color: var(--cloud);
}

.hero-button {
  text-decoration: none;
}

.btn.filter:hover,
.btn.filter:focus,
.btn.filter.active-filter {
  background-color: #404bbf;
  color: var(--whitecolor);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  border-color: #404bbf;
}

.btn.filter {
  background-color: #f4f4fd;
  color: var(--irishcolor);
  font-family: "roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  border: 1px;
  padding: 12px 24px 12px 24px;
  border: 1px solid var(--cornflower, #e7e9fc);
}

.pics-img-name {
  color: var(--navyblue);
  font-family: "roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.pics-dept-text {
  color: var(--slatecolor);
}
