@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

/* CSS Variables */
:root {
  --irishcolor: #4d5ae5;
  --navyblue: #2e2f42;
  --navcolor: black;
  --oceancolor: #2196f3;
  --whitecolor: white;
  --slatecolor: #434455;
  --oceanblue: #404bbf;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;

  .link-webstudio-logo {
    text-decoration: none;
    font-family: "Raleway", san-serif;
  }

  .weblogo {
    color: var(--iris, #4d5ae5);
    font-family: "Raleway";
    line-height: 1.5;
  }
  .studiologo {
    color: var(--navyblue);
    font-family: "Raleway";
  }

  .studiologo2 {
    color: var(--cloud, #f4f4fd);
    font-family: "Raleway";
  }
}

.navbar .pages {
  color: var(--navcolor);
  text-decoration: none;
  font-family: "roboto";
  font-weight: 500;
}
.lists {
  list-style-type: none;
}

.navbar .pages:hover,
.navbar .pages:focus,
.navbar .pages.currentoption,
.contact-info .info:hover,
.contact-info .info:focus {
  color: var(--oceancolor);
}

.contact-info .info {
  color: var(--navcolor);
  text-decoration: none;
  font-family: "roboto";
  font-weight: 400;
}

.bg-section1 {
  background-color: var(--navyblue);
}

.h1-title {
  color: var(--whitecolor);
  font-family: "roboto";
  font-weight: 500;
}

.btn {
  cursor: pointer;
  border-color: transparent;
  font-family: inherit;
}

.btn.primary {
  background-color: var(--irishcolor);
  color: var(--whitecolor);
  font-family: "roboto";
  font-weight: 500;
}

.btn.primary:hover,
.btn.primary:focus {
  background-color: var(--oceancolor);
}

.titlelist {
  color: var(--navyblue);
  font-family: "roboto";
  font-weight: 500;
}

.desclist {
  color: var(--slatecolor);
  font-family: "roboto";
  font-weight: 400;
}

.sectiontitle {
  color: var(--navyblue);
  font-family: "roboto";
  font-weight: 700;
}

.section4 {
  background-color: var(--cloud);
}

.teamname {
  color: var(--navyblue);
  font-family: "roboto";
  font-weight: 900;
}

.position {
  color: var(--slatecolor);
  font-family: "roboto";
  font-weight: 400;
}

.footerbg {
  background-color: var(--navyblue);
}

.lastword {
  color: white;
  font-family: "roboto";
  font-weight: 400;
}

.hero-button {
  text-decoration: none;
}

.all-button {
  background-color: var(--cornflower);
  color: var(--irishcolor);
  font-family: "roboto";
  font-weight: 500;
  border-radius: 4px;
  border: 1px;
}

.website-button {
  background-color: var(--cornflower);
  color: var(--irishcolor);
  font-family: "roboto";
  font-weight: 500;
  border-radius: 4px;
  border: 1px;
}

.app-button {
  background-color: var(--cornflower);
  color: var(--irishcolor);
  font-family: "roboto";
  font-weight: 500;
  border-radius: 4px;
  border: 1px;
}

.design-button {
  background-color: var(--cornflower);
  color: var(--irishcolor);
  font-family: "roboto";
  font-weight: 500;
  border-radius: 4px;
  border: 1px;
}

.marketing-button {
  background-color: var(--cornflower);
  color: var(--irishcolor);
  font-family: "roboto";
  font-weight: 500;
  border-radius: 4px;
  border: 1px;
}

.pics-img-name {
  color: var(--navyblue);
  font-family: "roboto";
  font-weight: 500;
}

.pics-dept-text {
  color: var(--slatecolor);
  font-family: "roboto";
  font-weight: 400;
}
